<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Welcome to 99 Cats!</title>
  </head>
  <body>
    <center><h1>Welcome to 99 Cats!</h1></center>

    <p>Dear <%= @user.username %>,</p>

    <p>Welcome to our cat rental site. I hope you like renting cats, because you can now do that.</p>

    <p>Best,</p>
    <p>99 Cats</p>

  </body>
</html>
