/* PHASE 4: Footer */

.footer {
  width: 900px;
  margin: auto;
  color: #aaa;
  font-size: 14px;
  background: white;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: 0px;
}

.footer-copy {
float: left;
}

.footer-links {
float: right;
}

.footer-links > li {
  float: left;
  margin-left: 20px;

}

.footer a {

}

.footer a:hover {
  color: black;
}
