<h1>All the subs</h1>
<ul>
<% @subs.each do |sub| %>
  <li>
    <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
    <br><em><%= sub.description %></em>
  </li>
<% end %>
</ul>
<p>+ <a href="<%= new_sub_url %>">Create a new sub</a>
